{% extends 'FrontendBundle::frontend.html.twig' %}
{% block body %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="90%"  height="100%">
        <tr width="100%" align="left">
            <td>
                <div id="divMenu" class="ui-widget-header" style="height:30px">
                    {% include 'FrontendBundle::menu.html.twig' %}
                </div>
            </td>
        </tr>
        <tr>
            <td width="100%" valign="top" class="ui-widget-content2 ln_formatos" colspan="2">
                {% if isPerfilSupervisor %}
                <div id="avisos" class="ui-widget-content" >
                    <div id="mantenimiento"  >
                        {% render url('listar_avisos_mantenimiento') %}
                    </div>
                    <div id="tope">
                        {% render url('listar_avisos_tope') %}
                    </div>    
                </div>
                {% endif %}
                <div id="divPanelSistema" class="ui-widget-content" align="left">
							
                </div>
            </td>
        </tr>
	<tr>
            <td width="100%">
                <div id="pie_pagina" style="font-size:9px; height:12px" class="ui-widget-header">
                    {% include 'FrontendBundle::footer.html.twig' %}
		</div>
           </td>
       </tr>
</table>
{% endblock %}

{% block custom_javascripts %}
    {% include 'FrontendBundle::jsMenu.html.twig' %}
{% endblock %}
   