{% if usuario is not null %}
<table>
    <tr>
        <td align="left">
           US-00{{usuario.id}}
        </td>
    </tr>
    <tr>
        <td align="left">
            {{perfil}} : {{ usuario.nombre }}
        </td>
    </tr>
</table>
{% endif %}