{% if indicadores | length <= 0 %}
    <div>No existen indicadores</div>
{% else %}
<div class="">
<table id="myTable" border="0" class="ui-widget" style="width:60%;">
    <thead class="ui-widget-header">
    <tr class="">
        <td> Indicadores </td>
        <td> Estado </td>
        <td> Observaciones</td>
    </tr>
    </thead>
    <tbody class="ui-widget-content">
    {% for indicador in indicadores %}
    
    <tr class="">
        <td>{{ indicador.nombre }}</td>
        <td class="{{ indicador.estado }}">{{ indicador.estado }}</td>
        <td>{{ indicador.observacion}}</td>
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}