{% extends '::layout.html.twig' %}
{% block top_menu %}
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr width="100%">
            <td width="100%" align="center">
                <div id="divHeader">
                    {% include 'FrontendBundle::header.html.twig' %}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}