<table border="0" cellpadding="0" cellspacing="0" align="center" width="99%"  height="100%">
    <tr width="100%" align="left">
        <td>
            <a tabindex="0" href="#divOpcinesSeguros" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="menuSeguros"><span class="ui-icon ui-icon-triangle-1-s"></span>Menu</a>
            <div id="divOpcinesSeguros" class="hidden">
                <ul>
					<li><a href="#">Recepcion</a>
						<ul>
<!--							<li><a href="#">Incidencias</a>
								<ul>
									<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/incidenciaBarrido.html')">Barrido</a></li>
									<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/incidenciaRecoleccion.html')" >Recoleccion</a></li>
								</ul>
							</li>
							<li><a href="#">Partes de Servicio</a>
								<ul>
									<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/parteBarrido.html')" >Barrido</a></li>
									<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/partePersonal.html')">Recoleccion</a></li>
								</ul>
-->							</li>
                     <li><a href="#">Verificacion de Ingresos</a></li>
							<li><a href="{{ url('material_registrar')}}" >Registrar ingreso de Material</a></li>
							<li><a href="#">Liquidacion de Servicios</a></li>
							<li><a href="#">Aceptacion de Liquidacion</a></li>
<!--							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/mantenimientos/tablaConsulta.html')" >Mantenimiento de Tablas</a></li>
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/mantenimientos/preguntaConsulta.html')" >Mantenimiento de Pregunta</a></li>
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/mantenimientos/cuestionarioConsulta.html')" >Mantenimiento de Cuestionario</a></li>
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/mantenimientos/impuestoConsulta.html')" >Mantenimiento de Impuesto</a></li>
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/mantenimientos/ramosConsulta.html')" >Mantenimiento Ramos</a></li> 
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/mantenimientos/coberturaConsulta.html')" >Mantenimiento Cobertura</a></li>
	-->						
						</ul>
					</li>

					<li><a href="#">Disposicion Final</a>
						<ul>
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/ingreso.html')">Programacion de Horas</a></li>
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/ordenes.html')" >Reasignacion de Plataforma</a></li>
<!--							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/pedido.html')">Reporte Semanal</a></li>
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/backLog.html')">Backlog</a></li>
-->
						</ul>
					</li>

					<li><a href="#">Venta de Materiales</a>
						<ul>
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/pedido.html')" >Programacion de Pedidos</a></li>
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/ordenes.html')" >Aceptacion de Pedidos</a></li>							
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/ordenes.html')" >Stocks de Materiales</a></li>
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/ordenes.html')" >Proyeccion de Materiales</a></li>
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/backLog.html')">Liquidacion de Materiales</a></li>
						</ul>
					</li>



					<li><a href="#">Monitoreo de Servicios</a>
						<ul>
							<!--<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/polizas/emision.html')" >Emision</a></li>-->
<!--
							<li><a href="#">Programacion</a></li>
							<li><a href="#">Pendientes</a></li>
							<li><a href="#">Mantenimientos</a></li>
	-->
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/incidenciaRecoleccion.html')" >Registrar Incidencias</a></li>
							<li><a href="#">Resolucion de Incidencias</a></li>
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/petramas/indicadores.html')" >Analisar Indicadores</a></li>
							
						</ul>
					</li>
<!--
					<li><a href="#">Informes</a>
						<ul>
							<li><a href="#" onclick="muestraPagina('divPanelSistema', 'paginas/informes/informes.html')" >Info1</a></li>
							<li><a href="#">Info2</a></li>
						</ul>
					</li>

					<li><a href="#">Reg. Endosados</a></li>
					<li><a href="#">Administracion</a>
						<ul>
							<li><a href="#">Perfiles</a></li>
							<li><a href="#">Usuarios</a></li>
							<li><a href="#">Cargos</a>
						</ul>
					</li>

					<li><a href="#">Vinculados</a></li>					
-->
                             <td align="center" >
											<!--<button onclick="alert('Tractor Oruga MQ005 -> Faltan 3 dias para su Mantenimiento');" >A1</button>
											<button onclick="alert('Plataforma operativa llegando al limite: en 2 dias aproximados ');" >A2</button>-->
										</td>


				</ul>
			</div>
		</td>
	</tr>
</table>
